<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Io posso aiutarti a rinnovare o creare da zero la tua immagine su web!</h2>
                <hr class="light">
                <h3 class="text-faded">Avvalendomi degli strumenti pi&ugrave; efficaci ed attuali sono ingrado di creare il tuo blog, portfolio, landing page pubblicitaria e di ideare e pianificare una strategia di promozione adatta ai servizi o prodotti di cui ti occupi!</h3>
                <a href="#" class="btn btn-default btn-xl">Ottieni una consulenza gratuita!</a>
            </div>
        </div>
    </div>
</section>
