<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>TI STAI PREOCCUPANDO DEL TUO BUSINESS O DELLA TUA PROFESSIONE ONLINE?</h1>
            <hr>
            <p>Al giorno d'oggi urge avere una costante e efficace presenza per poter distinguersi dalla massa ed avere così la possibilità di emergere e far apprezzare le proprie capacità!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Dimmi di pi&uacute;</a>
        </div>
    </div>
</header>
