<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Come mi occupo della tua presenza online:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Progetti web di classe A</h3>
                    <p class="text-muted">Utilizzando i migliori strumenti sul mercato per realizzare progetti web, potró aiutarti a coltivare la presenza online della tua piccola azienda, della tua professione da freelance o creare un portfolio che faccia impallidire i reclutatori!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>User Experience maniacale</h3>
                    <p class="text-muted">Ricordi quando navighi su siti web i quali devi zoomare con le tue dita sul telefono per leggere quel che c’é scritto, maledicendo chi ha fatto quel sito web? Ecco questo non deve accadere assolutamente alla tua immagine su internet.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Portfolio e Postcards</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Marketing</h3>
                    <p class="text-muted">Email marketing, content marketing, influencer marketing, affiliate marketing, social media marketing e SEO. Paroloni che possono determinare il successo o il fallimento del tuo progetto! Io posso instradare la tua strategia al meglio in base alla tua nicchia di mercato.</p>
                </div>
            </div>
        </div>
    </div>
</section>
